/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  /* --window-bg-color: brown; */
}

html {
  background-color: #333;
  background-image: url('images/grid-50x50.png');
  color: #fff;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10pt;
}
body {
  margin: 0;
}

/*
This made the node connections not render properly upon first render. (Firefox)
And since this is all from the local machine (file:///) it doesn't seem to
be of much use anyway.
*/
/* [v-cloak] {
  display: none;
} */

#canvasNodes {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 10000;
  pointer-events: none;
}

#canvasTools {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 10001;
  pointer-events: none;
}

.node {
  position: absolute;
  display: inline-block;
  min-width: 100px;
  max-width: 200px;

  background-color: #555;
  border: 1px solid #000;
  border-radius: 4px;
  overflow: hidden;

  box-shadow: 2px 2px 6px #111;

  padding: 5px;
  margin: 5px
}
.node > header {
  background-color: #444;
  padding: 3px 10px;
  margin: -5px -5px 5px -5px;
}
.node > header > .label {
  color: #aaa;
}

.node .debug {
  color: #aaa;
}

.node section header {
  font-weight: bold;
}

.node section {
  margin: 10px 5px;
}

.node .output > header {
  text-align: right;
}
.node .output .connector {
  text-align: right;
}

.node .partner {
  display: inline;
  color: #aaa;
}
