<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Transformation Inspector - Node Editor</title>
  <link rel="stylesheet" href="nodes.css" />
  </head>
<body>

<div id="editor">
  <canvas id="canvasNodes"></canvas>

  <section class="node"
    :data-node-id="node.id"
    :style="{ left: node.position.x + 'px', top: node.position.y + 'px' }"
    v-for="node in nodes">

    <header @mousedown="nodeDragMouseDown">
      <div>{{ $filters.nodeType(node.type) }}<span class="debug"> ({{ node.id }})</span></div>
      <div class="label">{{ node.label }}</div>
    </header>

    <!--
    <section class="position">
      <header>Position:</header>
      <div>
        <span class="key">X: </span>
        <span class="value">{{ node.position.x }}</span>
      </div>
      <div>
        <span class="key">Y: </span>
        <span class="value">{{ node.position.y }}</span>
      </div>
    </section>
    -->

    <node-watcher :node="node"
      @move="onNodeMove">
    </node-watcher>

    <section class="config">
      <header>Config</header>
      <div v-for="(value, key)  in node.config">
        <span class="key">{{ key }}: </span>
        <span class="value">{{ value }}</span>
      </div>
    </section>

    <section class="input">
      <header>Input</header>
      <div class="connector"
        :title="input.id + ' -> ' + input.partner"
        :data-connector-id="input.id"  v-for="input in node.input">
        {{ input.channel_id }}<span class="debug"> ({{ input.id }})</span>
        <!--
        <div class="partner">
          OutputID: {{ input.partner }}
        </div>
        -->
      </div>
    </section>

    <section class="output">
      <header>Output</header>
      <div class="connector"
        :title="output.id"
        :data-connector-id="output.id"  v-for="output in node.output">
        <span class="debug">({{ output.id }}) </span>{{ output.channel_id }}
        <!--
        <div class="partner" v-for="partner in output.partners">
          InputID: {{ partner }}
        </div>
        -->
      </div>
    </section>

  </section>
</div>

<script src="vue.global.js"></script>
<script src="nodes.js"></script>

</body>
</html>
