/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  /* --window-bg-color: brown; */
}

html {
  background-color: #333;
  /* background-image: url('images/grid-50x50.png'); */
  color: #fff;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10pt;

  cursor: default;
}
body {
  margin: 0;
}

input, select, textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10pt;
  min-width: 3em;
  border: none;
  background: #ccc;
}
input {
  padding: 2px 3px;
}

* {
  box-sizing: border-box;
}


* {
  cursor: inherit;
}
input, select, textarea, a[href]
{
  cursor: auto;
}

/*
This made the node connections not render properly upon first render. (Firefox)
And since this is all from the local machine (file:///) it doesn't seem to
be of much use anyway.
*/
/* [v-cloak] {
  display: none;
} */

#canvasNodes {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 10000;
  pointer-events: none;
}

#canvasTools {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 10001;
  pointer-events: none;
}

.node-board {
  position: fixed;
  left: 0;
  top: 40px;
  width: 100%;
  height: 100%;
  background-image: url('images/grid-50x50.png');
}

.node {
  position: absolute;
  display: inline-block;
  min-width: 100px;
  max-width: 200px;

  background-color: #555;
  border: 1px solid #000;
  border-radius: 4px;
  overflow: hidden;

  box-shadow: 2px 2px 6px #111;

  padding: 5px;
  margin: 5px
}
.node > header {
  background-color: #444;
  padding: 3px 10px;
  margin: -5px -5px 5px -5px;
}
.node > header > .label {
  color: #aaa;
}

.node > header > .button-close {
  text-decoration: none;
  color: #ccc;
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 7px;
  visibility: hidden;
}
.node > header > .button-close:hover {
  color: #fff;
}
.node:hover > header > .button-close {
  visibility: visible;
}

.node-watcher {
  display: none;
}

.node .debug {
  color: #aaa;
}

.node section header {
  font-weight: bold;
}

.node section {
  margin: 10px 5px;
}

.node .output > header {
  text-align: right;
}
.node .output .connector {
  text-align: right;
}

.node .partner {
  display: inline;
  color: #aaa;
}


.node-matrix-4x4 {
  box-sizing: border-box;
  width: 100%;
}
.node-matrix-4x4 input {
  display: inline-block;
  color: #000;
  background: #ccc;
  width: 100%;
}
/* .node-matrix-4x4 tbody td:nth-of-type(2) input {
  background: #eedddd;
} */
.node-matrix-4x4 .rotate.scale.x {
  background: #eedddd;
}
.node-matrix-4x4 .rotate.scale.y {
  background: #ddeedd;
}
.node-matrix-4x4 .rotate.scale.z {
  background: #ddddee;
}

.node-matrix-4x4 .translation.x {
  background: #eecccc;
}
.node-matrix-4x4 .translation.y {
  background: #cceecc;
}
.node-matrix-4x4 .translation.z {
  background: #ccccee;
}

.node-matrix-4x4 .unused {
  color: #333;
  background: #888;
}

.node-toolbar {
  position: relative;
  z-index: 10010;
  display: block;
  height: 40px;
  /* background: rgba(0, 0, 0, 0.3); */
  background: #222;
  box-shadow: 0px 1px 5px #000;
}
.node-toolbar button {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  width: 100%;
  height: 40px;
  color: #fff;
  background: #333;
  border: none;
}
.node-toolbar button:hover {
  background: #444;
}
.node-toolbar-item {
  display: inline-block;
}
.node-toolbar-dropdown {
  position: absolute;
  /* background: #333; */
  /* box-shadow: 0px 1px 5px #000; */
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);
}
.node-toolbar-dropdown > div {
  padding: 5px 15px 5px 30px;
}
.node-toolbar-dropdown > div:hover {
  background: rgba(255, 255, 255, 0.1);
}

.node-color-swatch {
  display: inline-block;
  vertical-align: bottom;
  width: 10px;
  height: 10px;
  border: 1px solid #111;
}

.node-color input {
  display: inline-block;
  width: 100%;
  margin-top: 0.25em;
}
.node-color-picker {
  display: grid;
  grid-template-columns: 1fr 3.5em;
}

.node-color-input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.node-config-color > div {
  margin-bottom: 0.4em;
}

.node-inline-input {
  /* display: flex; */
  white-space: nowrap;
}

.node-inline-input input,
.node-inline-input select {
  /* flex-grow: 1; */
  /* margin-left: 0.25em; */
  display: block;
  width: 100%;
  margin-top: 0.25em;
}
